name: wp-pager-landing

services:
    app:
        image: wp-pager-landing
        container_name: wp-pager-landing
        build: .
        volumes:
            - .:/app:z
        ports:
            - 3000:3000
